body{
    background-color: #FFEFD5 ;
    color: #8B4513 ;
    margin-left: 100px;
    margin-right: 100px;
    
}
h1{
    padding-top: 30px;
    padding-bottom: 30px;
}
header{
    height: 120px;
    background-image: url(../img/MicrosoftTeams-image\ \(2\).png);
    background-size: cover;
    margin-bottom: 20px;
    
}
ul{
    list-style: url(../img/ikon.png);
}

menu{
    float: left;
    max-width: 30%;
    margin: 20px;
    
}

li{
    background-color: white;
    border: lightblue solid 2px;
    width: 200px;
    height: 50px;
    margin:10px;
}
table{
    border: black solid 1px;
}
tr{
    border: black solid 1px;
    
}
th{
    border: black solid 1px;
    padding: 5px;
}
#zold{
    background-color: rgb(101, 235, 101);
}
#sarga{
    background-color: rgb(235, 235, 95);
}
#piros{
    background-color: rgb(238, 102, 102);
}
#lila{
    background-color: rgba(210, 117, 238, 0.979);
}
main{
    margin: 10px;
}